[submodule "syscallm-generation"]
	path = syscallm-generation
	url = https://github.boschdevcloud.com/bios-SPARTA/llm-syscall.git
[submodule "syscallm-injection"]
	path = syscallm-injection
	url = https://github.boschdevcloud.com/bios-SPARTA/safety-fuzzing.git
