[submodule "syscallm-generation"]
	path = syscallm-generation
	url = https://github.com/boschresearch/syscallm-generation.git
[submodule "syscallm-injection"]
	path = syscallm-injection
	url = https://github.com/boschresearch/syscallm-injection.git
